<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="camel" type="iljin.framework.ebid.etc.util.CamelMap" />
	</typeAliases>
	<mappers>
		<mapper resource="mapper/login_sql.xml"/>
		<mapper resource="mapper/bid_sql.xml"/>
		<mapper resource="mapper/bid_status_sql.xml"/>
		<mapper resource="mapper/bid_complete_sql.xml"/>
		<mapper resource="mapper/etc_sql.xml"/>
		<mapper resource="mapper/item_sql.xml"/>
		<mapper resource="mapper/cust_sql.xml"/>
		<mapper resource="mapper/user_sql.xml"/>
		<mapper resource="mapper/main_sql.xml"/>
		<mapper resource="mapper/common_sql.xml"/>
		<mapper resource="mapper/excel_sql.xml"/>
		<mapper resource="mapper/schedule_sql.xml"/>
		<mapper resource="mapper/statistics_sql.xml"/>
	</mappers>
</configuration>